

<section class="services">
    <h2>Our Services</h2>
    <div class="service-list">
      <div class="service-item">
        <img src="assets/mad.jpg" alt="mamba">
        <h3>Mobile Aplication Development</h3>
        <p>We build applications for mobile platforms like iOS or Android. </p>
      </div>
      <div class="service-item">
        <img src="assets/wd.jpg" alt="Web Development">
        <h3>Web Development</h3>
        <p>We creates websites using various technologies such as HTML, CSS, JavaScript, and frameworks like React, Angular, or Django according to the needs of our custoer.</p>
      </div>
      <div class="service-item">
        <img src="assets/ed.jpg" alt="business apps">
        <h3>Ecommerce development</h3>
        <p>Pur teams specialize in creating online shopping platforms, integrating payment gateways, managing product catalogs, and implementing secure transactions.</p>
      </div>
      
    </div>
  </section>
