<body>
<h1>Introduction</h1>
<h2>
   Bikram Waiba
</h2>
<img src="assets/Myself.jpeg" alt="Gamer" class="headshot">
<p>
  "Hello everyone, my name is Bikram Waiba from Nnepal, and I am currently pursuing a degree in Software Engineering Technican. I have always been fascinated by the world of technology and how it continuously shapes our lives.
Throughout my studies  and experience, I have gained a solid foundation in various areas of IT, including programming languages such as Java and Python, database management, network administration, and web development. I have also had the opportunity to work on projects that involved creating software applications and designing responsive websites.
</p>
<a href="assets/Resume.pdf" download >Download Resume (PDF)</a>
</body>