.project {
  margin-bottom: 20px;
}
.project h2 {
  font-size: 18px;
  margin-bottom: 5px;
}
.project p {
  font-size: 14px;
  margin-bottom: 10px;
}
h2{
  color:rgb(249, 19, 58)
}
a{
  color: blue;
}

body{
  background-color: rgb(239, 190, 250);
}


